// background-color:#252830;
// background-color:#000000dc;
.grid-container {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main";

    height: 100vh;
    background: #232323;
}
.header {
    grid-area: header;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: white;
    text-transform: uppercase;
    &__date{
      color: white;
    }

}
a.header__logout{
    &:link, &:visited {
        color:white;
    }
}

.sidenav {
    border-right: 2px solid white;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-area: sidenav;
    background-color: whitesmoke;
    color: black;
    padding: 0 0 30px 0;
  }

.sidenav__brand {
        text-align: center;
        padding-bottom: 30px;
}
a.sidenav__brand-link {
    font-size: 3.5rem;
    font-family: 'Libre Barcode 128 Text', cursive; 
    text-transform: uppercase;
    align-self: center;
    font-weight: bold;

    &:link, &:active, &:visited {
        color:black;
    }
 }

.sidenav__list {
    list-style-type: none;
  }

  .sidenav__list-item {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    padding-left: 30px;
    line-height: 2.5rem;
    color:black;
  }

  .sidenav__list-item:hover {
    background-color: rgba(250, 212, 0, 0.329);
  }

.sidenav__category-title {

    font-family: 'Major Mono Display', monospace;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.493);
    font-size: 1.3rem;
    text-transform: lowercase;
    letter-spacing: .5rem;
}
  .main {
    grid-area: main;
    background-color: #232323;
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 1fr;
    grid-template-areas:
      "banner"
      "graph";

    &-content {
      grid-area: graph;
      display: grid;
      grid-gap: 25px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "confirmed fatality";
    }

    &-header {
    background: url(../img/sf.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    color: white;
    justify-content: space-between;
    // margin: 20px;
    padding: 20px;
    height: 350px;
    background-color: #e3e4e6;
    color: slategray;

      &__heading {
      font-size: 1.5rem;
      color: white;
      }
      &__time-container {
        display:grid;
        width: 40%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
          "."
          "time"
          ".";
      }
      &__time {
        font-family: 'Montserrat', sans-serif;
        grid-area: time;
        text-align: center;
        font-size: 7.5rem;
        color: white;
        font-weight: bolder;
        text-shadow: 0 0 5px black;
      }
  }
}
.main-header__heading {
  color: white;
}

// #confirmed-graph {
//   text-align: center;
//   color: white;
//   font-size: 1.5rem;
// }

// #fatalities-graph {
//   text-align: center;
//   color: white;
//   font-size: 1.5rem;
// }
