.datetime{
    height: 20px;
    position: fixed;
    float: right;
    animation: marquee 20s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}  

a.navbar__logo--link {
    &:active, &:visited {
    color: black;
    }

}

a.navbar__links--login {
    &:active, &:visited {
        color: black;
        }
    }