.login--bg {
    background:white fixed;
    height: 100%;
}

.left-title {
    font-size: 5.5rem;
    grid-area: title;
    margin-left: 30px;
}

.login {
    &__container {
        width: 50%;
        height: 500px;
        outline:0;

        position: absolute;
        right: 25%;
        top: 20%;

        background: white;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.356);
    
         &--left {
            font-family: 'Raleway';
            letter-spacing: .5rem;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            font-size: 2rem;
            text-align: left;

            display:grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
                ". . . . .  . "
                ". . . . . . "
                " title title title title .  ."
                " title title title title .  .";

            height: 500px;
            float: left;
            width: 50%;

            background: $color-1;
            background-size: cover;
            box-sizing: border-box;
        }
         &--right {
            font-family: 'Raleway';
            color: lighten($color-1, 20%);
            text-align: left;
            font-size: 1.2rem;

            float: right;
            width: 50%;
            height: 500px;
            box-sizing: border-box;
        }
    }

    &__formbox {
        width: 100%;
        padding: 80px 40px;
        box-sizing: box-border;
        height: 500px;
        background: white;
    }

    &--btn {
        font-family: 'Raleway';
        color: white;
        font-weight: 700;
        letter-spacing: .2rem;
        text-transform:  uppercase;
        font-size: 1.2rem;

        margin: 20px 25%;
        border-radius: 50px;
        width: 55%;
        height: 4rem;  
        background-color: $color-1;
        border: 0;
        &:focus {
            outline:none;
        }
        &:hover {
           background: lighten($color-1, 10%);
        }
    }
}

input.login__item {
    &[type="text"], &[type="password"] {
        color: $color-1;
        font-size: 1.3rem;

        border: 0;  /* note: order --> border must be before border-bottom */
        border-bottom: 1px dashed $color-1;
        background: transparent;
        height: 50px;
        width: 100%;
        margin: 10px 0;
    }
    
    &::placeholder {
        color:$color-1;
        opacity: 1;
    }
}