.signup-bg{
    background:
     linear-gradient(to right bottom,
        $color-1, white)  fixed;
}

.form__container {
    align-content: center;	
    display: grid;
    grid-template-columns: 1fr fit-content(1fr) 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        " . . . "
        ". heading ."
        ". subheading ."
        ". form ."
        ". form ."
        ". form ."
        ". form ."
}

.heading-secondary {
    grid-area: heading;
    align-self: end;
    margin-top: 5rem;
}

.heading-tertiary {
    grid-area: subheading;
    align-self: center;
}

.form {
    grid-area: form;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
        " . item1 item1  . "
        " . item2 item2 . "
        " . item3 item3 . "
        " . button button ."
        ". item4 item4 ."
}

input {
    &:focus {
        outline: none;
        box-shadow: 0 4px 2px -2px white; /* 2px blur, neg spread for bottom shadow*/
    }
}

input.form__item{
    &[type="text"], &[type="password"], &[type="email"] { 
        background: transparent;
        border: 0;
        border-bottom: 1px dashed white;
        } 
}

.form__item {  
    &--1 {        
        grid-area: item1;
    }
    &--2 {
        grid-area: item2;      
    }
    &--3 {
        grid-area: item3    
    }
    &--btn {
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        color: darken($color-1, 5%);
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .3rem;

        margin-top: 1rem;
        grid-area: button;
        background: white;
        border: 0;
        border-radius: 50px;
        width: 100%;
        justify-self: center;
        height: 4rem; 
        
        &:focus {
            outline:none;
        }
        &:hover {
            box-shadow: 5px 6px 1px 3px #384d6e;
        }
    }

    &--4 {
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Raleway', sans-serif;
        color: white;
        letter-spacing: .1rem;
        
        grid-area: item4;
        margin-top: 1rem;
    }   
}

