.signup-bg{
    background:
     linear-gradient(to right bottom,
        pink, lightyellow);
}

.form__container {
    border: black;
    display: grid;
    grid-template-columns: 1fr fit-content(1fr) 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        ". . ."
        ".  heading ."
        ". subheading ."
        ".  form ."
        ".  form ."
        ".  form ."
        ". form ."
}

.heading-secondary {
    grid-area: heading;
    align-self: center;
}

.heading-tertiary {
    grid-area: subheading;
    align-self: center;
}

.form {
    grid-area: form;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas:
        " . item1 item1  . "
        " . item2 item2 . "
        " . item3 item3 . "
        " . button button ."
        ". item4 item4 ."
}

input {
    &[type="text"], &[type="password"], &[type="email"] {
        background: transparent;
        border: 0;
        border-bottom: 1px dashed white;
    }
    &:focus {
        outline: none;
        box-shadow: 0 4px 2px -2px white; /* 2px blur, neg spread for bottom shaddow*/
    }
}

.form__item {    
    &--1 {        
        grid-area: item1;
    }
    &--2 {
        grid-area: item2;      
    }
    &--3 {
        grid-area: item3    
    }

    &--btn {
        margin-top: 1rem;
        grid-area: button;
        background: white;
        border: 0;
        border-radius: 50px;
        // width: 50%;
        height: 5rem;
        // justify-self: center;

        &:focus {
            outline:none;
        }

        &:hover {
            box-shadow: 5px 6px 1px 3px #ffcfd0;
        }
    }

    &--4 {
        grid-area: item4;
        margin-top: 1rem;
    }   
}

