*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 75%;
}

body {
    box-sizing: border-box;
    background-attachment: fixed;
    background-size: cover;
    min-height: calc(100vh - 100px);
    margin: 50px;
}