// font-family: 'Sofia', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Comfortaa', cursive;
// font-family: 'Fredoka One', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Libre Barcode 39 Extended Text', cursive;
// font-family: 'Libre Barcode 128 Text', cursive;

// font-family: 'Major Mono Display', monospace;
// font-family: 'Courier Prime', monospace;
// font-family: 'Montserrat', sans-serif;

body {
    font-family: 'Raleway', sans-serif;
}
// HYPERLINKS
a {
    text-decoration: none;
    outline: 0;
    border: none;
    -moz-outline-style: none;
    outline-style: none;
}
a.link {   
    &__signup {
        color: #384d6e;
        font-weight: 600;
        font-size: 1.2rem;
        &:hover {
            color: $color-2;
        }
    }

    &__login {
        color:#384d6e;
        font-weight: 600;
        font-size: 1.3rem;  
        &:hover {
            color: $color-2;
        }      
    }
}

.heading-secondary {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.heading-tertiary {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

