.u-margin-bottom {margin-bottom: 1.5rem !important;}
.u-font-blue {color: $color-1;}
.u-font-white {color:white;}
.u-text-center {text-align: center;}
.u-spacer-l {height: 200px;}
.u-spacer-m {height:100px;}
.u-spacer-s {height:50px;}