@keyframes marquee {
  0% {
    -webkit-transform: translateX(220%);
    transform: translateX(220%); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 75%;
  height: 100%; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

a.link__signup {
  color: #384d6e;
  font-weight: 600;
  font-size: 1.2rem; }
  a.link__signup:hover {
    color: #ffdd00; }

a.link__login {
  color: #384d6e;
  font-weight: 600;
  font-size: 1.3rem; }
  a.link__login:hover {
    color: #ffdd00; }

.heading-secondary {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center; }

.heading-tertiary {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: bold; }

.form__item--btn {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #031631;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem; }

.form__item--4 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: .1rem; }

input.form__item[type="text"], input.form__item[type="password"], input.form__item[type="email"] {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif; }

input.form__item::placeholder {
  color: white;
  opacity: 1; }

input.login__item[type="text"], input.login__item[type="password"] {
  color: #052049;
  font-size: 1.3rem; }

input.login__item::placeholder {
  color: #052049;
  opacity: 1; }

.login__container--left {
  font-family: 'Raleway';
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  font-size: 2rem;
  text-align: left; }

.login__container--right {
  font-family: 'Raleway';
  color: #0c4aa8;
  text-align: left;
  font-size: 1.2rem; }

.login--btn {
  font-family: 'Raleway';
  color: white;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-size: 1.2rem; }

.navbar {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: bold; }
  .navbar__links--login {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem; }

a.navbar__logo {
  color: black; }

.datetime {
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5rem;
  margin: 20px; }

.u-margin-bottom {
  margin-bottom: 1.5rem !important; }

.u-font-blue {
  color: #052049; }

.u-font-white {
  color: white; }

.u-text-center {
  text-align: center; }

.homepage {
  background-color: white; }

.navbar {
  display: grid;
  min-height: 50px;
  grid-auto-flow: column;
  background-color: whitesmoke;
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); }
  .navbar__logo {
    display: grid;
    justify-content: start;
    align-content: center; }
  .navbar__links {
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
    font-size: 20px; }

.navbar__links--login {
  display: inline-block;
  position: relative;
  padding: 5px; }

.navbar__links--login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out; }

.navbar__links--login:hover::before {
  visibility: visible;
  transform: scaleX(1); }

.signup-bg {
  background: linear-gradient(to right bottom, #052049, white) fixed; }

.form__container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr fit-content(1fr) 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: " . . . " ". heading ." ". subheading ." ". form ." ". form ." ". form ." ". form ."; }

.heading-secondary {
  grid-area: heading;
  align-self: end;
  margin-top: 5rem; }

.heading-tertiary {
  grid-area: subheading;
  align-self: center; }

.form {
  grid-area: form;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: " . item1 item1  . " " . item2 item2 . " " . item3 item3 . " " . button button ." ". item4 item4 ."; }

input:focus {
  outline: none;
  box-shadow: 0 4px 2px -2px white;
  /* 2px blur, neg spread for bottom shadow*/ }

input.form__item[type="text"], input.form__item[type="password"], input.form__item[type="email"] {
  background: transparent;
  border: 0;
  border-bottom: 1px dashed white; }

.form__item--1 {
  grid-area: item1; }

.form__item--2 {
  grid-area: item2; }

.form__item--3 {
  grid-area: item3; }

.form__item--btn {
  margin-top: 1rem;
  grid-area: button;
  background: white;
  border: 0;
  border-radius: 50px;
  width: 100%;
  justify-self: center;
  height: 4rem; }
  .form__item--btn:focus {
    outline: none; }
  .form__item--btn:hover {
    box-shadow: 5px 6px 1px 3px #384d6e; }

.form__item--4 {
  grid-area: item4;
  margin-top: 1rem; }

.login--bg {
  background: white fixed;
  height: 100%; }

.left-title {
  font-size: 5.5rem;
  grid-area: title;
  margin-left: 30px; }

.login__container {
  width: 50%;
  height: 500px;
  position: absolute;
  right: 25%;
  top: 20%;
  background: white;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.356); }
  .login__container--left {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". . . . .  . " ". . . . . . " " title title title title .  ." " title title title title .  .";
    height: 500px;
    float: left;
    width: 50%;
    background: #052049;
    background-size: cover;
    box-sizing: border-box; }
  .login__container__container, .login__container--right {
    float: right;
    width: 50%;
    height: 500px;
    box-sizing: border-box; }

.login__formbox {
  width: 100%;
  padding: 80px 40px;
  box-sizing: box-border;
  height: 500px;
  background: white; }

.login--btn {
  margin: 20px 25%;
  border-radius: 50px;
  width: 55%;
  height: 4rem;
  background-color: #052049;
  border: 0; }
  .login--btn:focus {
    outline: none; }
  .login--btn:hover {
    background: #083579; }

input.login__item[type="text"], input.login__item[type="password"] {
  border: 0;
  /* note: order --> border must be before border-bottom */
  border-bottom: 1px dashed #052049;
  background: transparent;
  height: 50px;
  width: 100%;
  margin: 10px 0; }

.datetime {
  height: 20px;
  position: fixed;
  float: right;
  animation: marquee 20s linear infinite; }
  .datetime:hover {
    animation-play-state: paused; }
