#chart{
  width: 1000px;
  height: 800px;
  background-color: white;
  margin: 25px auto;
  color: black;
}

#confirmed-graph {
  width: 700px;
  height: 400px;
  background-color: transparent;
  margin: 25px auto;
  color: white;
  grid-area: confirmed;
}

#fatalities-graph {
  width: 700px;
  height: 400px;
  background-color: transparent;
  margin: 25px auto;
  color: white;
  grid-area: fatality;
}
