<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Poiret+One&display=swap" rel="stylesheet"> 

    <!-- STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- SCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}
{% endblock %}
<script src="../static/js/time.js"></script>
</body>
</html>