{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
  <header class="header">
    <div class="header__time">{{ current_date }}</div>
    <a class="header__logout" href="/logout">Logout</a>
  </header>

  <aside class="sidenav">
    <div class="sidenav__brand">
        <a class="sidenav__brand-link" href="/">Covid-19 Status</a>
      </div>

      <div class="sidenav__category">
      
        <div class="sidenav__category-title">Tracking</div>
  
       <ul class="sidenav__list">
          <li class="sidenav__list-item">San Francisco, CA</li>
          <li class="sidenav__list-item">San Jose, CA</li>
          <li class="sidenav__list-item">Valdosta, GA</li>
        </ul>
    </div>
  </aside>

  <main class="main">
    <div class="main-header">
      <div class="main-header__heading">Hello {{username.title()}}! </div>
      <div class="main-header__updates">Recent Items</div>
    </div>
    <div class="main-content">
    </div>
</main>

{% endblock %}
