{% extends 'base.html' %}
<meta charset="utf-8">

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
  <header class="header">
    <div class="header__date"></div>
    <a class="header__logout" href="/logout">Logout</a>
  </header>

  <aside class="sidenav">
    <div class="sidenav__brand">
        <a class="sidenav__brand-link" href="/">Covid-19 Status</a>
      </div>

      <div class="sidenav__category">
      
        <div class="sidenav__category-title">Tracking</div>
        {% for item in county_list %}
       <ul class="sidenav__list">
          <li class="sidenav__list-item" data-county-id="{{ item[1] }}">{{ item[0] }}</li>      
          {% endfor %}
      
        </ul>
    </div>
  </aside>

  <main class="main">
    <div class="main-header">
      <div class="main-header__heading">Hello {{username.title()}}! </div>
      <div class="main-header__time-container">
        <div class="main-header__time"></div>
      </div>
      
      <div class="main-header__weather">Recent Items</div>
    </div>
    <div class="main-content">
      <div id="confirmed-graph"></div>
      <div id="fatalities-graph"></div>
    </div>
</main>
    {% block javascript %}
    <script src="https://d3js.org/d3.v5.js" charset="utf-8""></script>
    <script src="../static/js/dashboard.js"></script>
    {% endblock %} 
{% endblock %} <!-- end of block content -->
