{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
<header>
    <div class="navbar">
        <div class="navbar__logo">
            <h1><a class="navbar__logo--link" href="/">COVID-19 Status</a></h1>
        </div>

        {% if session.get('username') %}
        <div class="navbar__links">
            <a class="navbar__links--login" href="/user/{{session['username'].lower()}}">{{ session['username'].upper() }}</a>
        </div>
        {% else %}
        <div class="navbar__links">
            <a class="navbar__links--login" href="/login">Login</a>
        </div>
        {% endif %}
    </div>
    
    {% for message in get_flashed_messages() %}
    <div class="alert-message">
        <b> {{ message }} </b>
    </div>
    {% endfor %}

</header>

<body class="homepage">
    <div class="marquee"></div>
    <div class="u-spacer-xl">&nbsp;</div>
    <div class="the5">
        <h2> Do the Five.</h2>
        <div class="the5__items">          
            <i class="fas fa-house-user fa-2x"></i>&nbsp; Stay Home &nbsp;
            <i class="fas fa-people-arrows fa-2x"></i>&nbsp; Keep 6ft Away &nbsp;
            <i class="fas fa-hands-wash fa-2x"></i>&nbsp; Wash Hands &nbsp;
            <i class="fas fa-head-side-cough-slash fa-2x"></i>&nbsp; Dab When You Cough &nbsp;
            <i class="fas fa-phone-alt fa-2x"></i>&nbsp; Call in Sick &nbsp;
        </div>
    </div>

    <div class="searchbar">
        <form class="searchbar__form" action="/search-results" method="POST">
            <input class="searchbar__search" action="/search-results" type="text" name="searchbar" placeholder="Enter a county name:">
        </form>
    </div>

    {% block javascript %}
    <!-- Set country_confirmed as js global variable -->
    <script type="text/javascript"> 
        country_confirmed = {{ confirmed_total | safe }};
        country_deaths = {{ fatality_total | safe }};
    </script>
    <script src="../static/js/marquee.js"></script>
    {% endblock %}
</body>
{% endblock %}